<main>

  <!-- Container START -->
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100 py-5">
      <!-- Main content START -->
      <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
        <!-- Sign up START -->
        <div class="card card-body rounded-3 p-4 p-sm-5">
          <div class="text-center">
            <!-- Title -->
            <h1 class="mb-2">Đăng ký tài khoản</h1>
            <span class="d-block">Bạn đã sẵn sàng đăng ký tài khoản?<a routerLink="/login"> Đăng nhập</a></span>
          </div>
          <!-- Form START -->
          <form class="mt-4" [formGroup]="registerForm" (submit)="register()" novalidate>
            <!-- Email -->
            <div class="mb-3 input-group-lg">
              <input type="text" class="form-control" placeholder="Nhập tên tài khoản" formControlName="username">
              <small></small>
            </div>
            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
              <div style="color: red" *ngIf="username?.errors?.['required']">
                <small>Tên tài khoản không được bỏ trống</small>
              </div>
              <div style="color: red" *ngIf="username?.errors?.['minlength']">
               <small>Tên tài khoản phải ít nhất 6 kí tự</small>
              </div>
              <div style="color: red" *ngIf="username?.errors?.['maxlength']">
                <small>Tên tài khoản tối đa 30 kí tự</small>
              </div>
            </div>
            <div style="display: none;color: red" id="check-username" >
              <small>Tài khoản đã tồn tại</small>
            </div>
            <!-- New password -->
            <div class="mb-3 position-relative">
              <!-- Input group -->
              <div class="input-group input-group-lg">
                <input class="form-control fakepassword" type="password" id="psw-input" placeholder="Nhập mật khẩu" formControlName="password">
              </div>
            </div>

            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
              <div style="color: red" *ngIf="password?.errors?.['required']">
               <small> Mật khẩu không được bỏ trống</small>
              </div>
              <div style="color: red" *ngIf="password?.errors?.['minlength']">
               <small> Mật khẩu phải có ít nhất 6 kí tự</small>
              </div>
              <div style="color: red" *ngIf="password?.errors?.['maxlength']">
                <small>Mật khẩu tối đa 30 kí tự</small>
              </div>
            </div>
            <!-- Confirm password -->
            <div class="mb-3 input-group-lg">
              <input class="form-control" type="password" placeholder="Nhập lại mật khẩu" formControlName="confirmPassword" (change)="checkConfirmPassword()">
            </div>
            <div style="display: none;color: red" id="abc" >
              <small>Mật khẩu nhập lại không đúng</small>
            </div>
            <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
              <div style="color: red" *ngIf="confirmPassword?.errors?.['required']">
                <small>Xác nhận mật khẩu không được bỏ trống</small>
              </div>
              <div style="color: red" *ngIf="confirmPassword?.errors?.['minlength']">
                <small>Xác nhận mật khẩu phải có ít nhất 6 kí tự </small>
              </div>
              <div style="color: red" *ngIf="confirmPassword?.errors?.['maxlength']">
                <small>Xác nhận mật khẩu tối đa 30 kí tự</small>
              </div>
            </div>
            <div class="mb-3 input-group-lg">
              <input type="email" class="form-control" placeholder="Nhập email" formControlName="email">
            </div>
            <div style="display: none;color: red" id="check-email" >
              <small>Email đã tồn tại</small>
            </div>
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
              <div style="color: red" *ngIf="email?.errors?.['required']">
                <small>Email không được bỏ trống</small>
              </div>
              <div style="color: red" *ngIf="email?.errors?.['email']">
                <small>Email nhập không dúng định dạng</small>
              </div>
            </div>
            <div class="mb-3 input-group-lg">
              <input type="text" class="form-control" placeholder="Nhập số điện thoại" formControlName="phone">
            </div>
            <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
              <div style="color: red" *ngIf="phone?.errors?.['required']">
                <small>Số điện thoại không được bỏ trống</small>
              </div>
              <div style="color: red" *ngIf="phone?.errors?.['pattern']">
                <small>Số điện thoại không đúng định dạng</small>
              </div>
            </div>

            <div class="mb-3 input-group-lg">
              <input type="date" class="form-control" formControlName="birthday">
            </div>
            <div *ngIf="birthday?.invalid && (birthday?.dirty || birthday?.touched)">
              <div style="color: red" *ngIf="birthday?.errors?.['required']">
                <small>Ngày sinh không được bỏ trống</small>
              </div>
            </div>

            <!-- Button -->
            <div class="d-grid"><button type="submit" [disabled]="!registerForm.valid" class="btn btn-lg btn-primary">Đăng ký</button></div>
          </form>
          <!-- Form END -->
        </div>
        <!-- Sign up END -->
      </div>
    </div> <!-- Row END -->
  </div>
  <!-- Container END -->

</main>
