<main xmlns="http://www.w3.org/1999/html">

  <!-- Container START -->
  <div class="container">
    <div class="row g-4">

      <!-- Sidenav START -->
      <div class="col-lg-3">

        <!-- Navbar START-->
        <nav class="navbar navbar-expand-lg mx-0">
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
            <!-- Offcanvas header -->
            <div class="offcanvas-header">
              <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas"
                      aria-label="Close"></button>
            </div>

            <!-- Offcanvas body -->
            <div class="offcanvas-body d-block px-2 px-lg-0">
              <!-- Card START -->
              <div class="card overflow-hidden">
                <!-- Cover image -->
                <div class="h-50px"
                     style=" background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                <!-- Card body START -->
                <div class="card-body pt-0">
                  <div class="text-center">
                    <!-- Avatar -->
                    <div class="avatar avatar-lg mt-n5 mb-3">
                      <a routerLink="/{{currentId}}"><img class="avatar-img rounded border border-white border-3"
                                        src="{{avatar}}" alt=""></a>
                    </div>
                    <!-- Info -->
                    <h5 class="mb-0"><a routerLink="/{{currentId}}">{{fullname}}</a></h5>
                    <!-- User stat START -->
                    <div style="margin-top: 5%" class="hstack gap-2 gap-xl-3 justify-content-center">
                      <!-- User stat item -->
                      <div>
                        <h6 class="mb-0">{{numberStatusOwner[0].length}}</h6>
                        <small>Số bài đăng</small>
                      </div>
                      <!-- Divider -->
                      <div class="vr"></div>
                      <!-- User stat item -->
                      <div>
                        <h6 class="mb-0">{{numberFriend.length}}</h6>
                        <small>Bạn bè</small>
                      </div>
                    </div>
                    <!-- User stat END -->
                  </div>

                  <!-- Divider -->
                  <hr>

                  <!-- Side Nav START -->
                  <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/"> <img class="me-2 h-20px fa-fw"
                                                                       src="assets/assets/images/icon/home-outline-filled.svg"
                                                                       alt=""><span>Trang chủ </span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/{{currentId}}/list-friend"> <img class="me-2 h-20px fa-fw"
                                                                                   src="assets/assets/images/icon/person-outline-filled.svg"
                                                                                   alt=""><span>Bạn bè </span></a>
                    </li>

                  </ul>
                  <!-- Side Nav END -->
                </div>
                <!-- Card body END -->
                <!-- Card footer -->
                <div class="card-footer text-center py-2">
                  <a class="btn btn-link btn-sm" routerLink="/{{currentId}}">Đến trang cá nhân </a>
                </div>
              </div>
              <!-- Card END -->
            </div>
          </div>
        </nav>
        <!-- Navbar END-->
      </div>
      <!-- Sidenav END -->

      <!-- Main content START -->
      <div class="col-md-8 col-lg-4 vstack gap-4">
        <app-status-create></app-status-create>
        <app-status-list [statuses]="statuses" [currentID]="currentId" [id]="id" style="margin-top: -3%"></app-status-list>
      </div>
    </div>
  </div>
  <!-- Story END -->
</main>
<!-- **************** MAIN CONTENT END **************** -->

