<p>Status</p>
<table border="1px">
  <tr>
    <td>Stt</td>
    <td>content</td>
    <td>createAt</td>
    <td>status</td>
    <td>owner</td>
    <td colspan="2">Action</td>
  </tr>
  <tr *ngFor = "let status of statuss; index as i" >
    <td>{{i + 1}}</td>
    <td>{{status.content}}</td>
    <td>{{status.createAt}}</td>
    <td>{{status.status}}</td>
    <td>{{status.owner.fullname}}</td>
    <td><a [routerLink]="['/edit', status.id]">Edit</a></td>
<!--    <button (click)="delete(student.id)" class="btn btn-success">xoá</button>-->
  </tr>
</table>
<!--<h3><a routerLink="create">Create</a></h3>-->
<!--<router-outlet></router-outlet>-->
